header {
    text-align: center;
    background-image: "https://drive.google.com/file/d/1fTMJEKzhwgXqLYkWhxBKUJTTJ3pPluli/view?usp=sharing.png";
}
header img[alt="logo"] {
        align-items: top-right;
       font-color: FFFFFF;
       width: 167.02px;
       height: 29.46px;
       position: absolute;
       left: 171.59px;
       right: 35.02px    
}
header a {
    align-items: horizontal;
    font: white
}
header ul {
    align-items: right;
}
h1 {
    font: Source Sans Pro;
    font-weight: bold;
    color: white;
    font-size: 120px;
    text-align: center;
}
button {
    color:blueviolet;
    text-align: center;
    padding: 162px 44px;
    border-radius: 3.7px;
    box-shadow: 0 4px 6px rgba(71, 70, 70, 0.1);

}
h2 {
    font-size: 32;
    text-align: center;
    margin: 5px;
}
:h2 {
    color:blueviolet white;

}
div img:nth-of-type(1) {
                 border-radius: 5px;
}
div img:nth-of-type(1) h3 {
    font: Source Sans Pro;
    font-size: 18;
}
div img:nth-of-type(1) p {
    font:Source Sans Pro;
    font-weight: italic;
    font-size: 16;
}
div img:nth-of-type(2) {
    border-radius: 5px;
}

div img:nth-of-type(2) h3 {
    font: Source Sans Pro;
    font-size: 18;
}
div img:nth-of-type(2) p {
    font-size: 16;
    font: Source Sans Pro;
    font-weight: italic;
}
div img:nth-of-type(3) {
    border-radius: 5px;
}
div img:nth-of-type(2) h3 {
    font: Source Sans Pro
    font-size 18;
}
div img:nth-of-type(2) p {
    font: Source Sans Pro;
    font-size: 16;
    font-weight: italic;
}
div img:nth-of-type(4) {
    border-radiues: 5px;
}

div img:nth-of-type(4) h3 {
    font: Source Sans Pro;
    font-size: 18;
}
div img:nth-of-type(4) p {
    font: Source Sans Pro;
    font-size: 16;
    font-weight: italic;
}
