
body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
   flex: 2; 
}
aside {
    flex: 1;
}
article, aside {
    overflow-y: auto;
}
aside, p {
    color: red;
    font-style: italic;
}
